body
{
	text-align: center;
	font-family: 'Cinzel', serif;
    background-color: #142033;
    color: #0096D0;
}

h1 
{
	font-family: 'Cinzel', serif;
}

#column_one
{
	text-align: right;
	float: left;
	width: 48%;
}

#column_two
{
	text-align: left;
	float: right;
	width: 48%;
}

#search
{
	clear: both;
}

select{
    background-color: #212228;
    border-radius: 3px;
    color: #0096D0;
    border-color: black;
}

input{
    background-color: #212228;
    border-radius: 8px;
    color: #0096D0;
    border-color: black;
}

button{
    background-color: #212228;
    border-radius: 3px;
    color: #0096D0;
    border-color: black;
    margin-bottom: 1em;
}

button:active{
    background-color: #9FA2B0;
    border-radius: 3px;
    color: black;
    border-color: black;
}

#string
{
	margin-bottom: 40px;
}

#content
{
	width: 60%;
	background-color: #0D161A;
	padding: 20px;
	margin-left: 20%;
	border-radius: 15px;
}

#content div
{
	width: 50%;
	background-color: #151C26;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 22%;
	border-radius: 15px;
	padding-top: 25px;
	padding-bottom: 25px;
}